*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


#features .header {
    display: flex;
    padding: 34px 0;
    justify-content: space-between;
    align-items: center;
    max-width: 1057px;
    margin: 0 auto;
}

.list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-size: 18px;
    font: bold;
}

.header img {
    max-width: 139px;
    max-height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.header button {
    margin-bottom: 24px;
    margin-top: 24px;
    min-width: 164px;
    min-height: 44px;
    margin-left: 120px;
    background-color: #30B868;
    color: #ffffff;
    font: bold;
    border: none;
    border-radius: 4px;
    padding: 16px 12px;
    font-size: 16px;
}

.banner {
    background-image: url(../assets/hero-bg.png);
    text-align: center;
    background-size: cover;
    min-height: 100vh;

}

.btn-1 img {
    width: 10px;
}
.btn-1 {
    padding: 8px 12px;
    border: none;
    margin-top: 125px;
    border-radius: 50px;
    margin-bottom: 24px;
    cursor: pointer;
    color: #30B868;
}

.banner h2{
    font-size: 72px;
    color: white;
}

.banner .h2-1 {
    color: #30B868;
    margin-bottom: 16px;
}

.banner p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 32px;
}

.banner .btn-2 {
    display: inline-flex;
    background-color: #30B868;
    max-width: 251px;
    min-height: 52px;
    border: none;
    padding: 16px;
    gap: 10px;
    border-radius: 6px;
    align-items: center;
    color: white;
    margin-right: 20px;
}

.banner .btn-3 {
    max-width: 198px;
    min-height: 52px;
    display: inline-flex;
    border: none;
    padding: 16px;
    gap: 10px;
    border-radius: 6px;
    align-items: center;
    background-color: #4e7d62;
}

.banner .btn-img {
    max-width: 20px;
    min-height: 20px;
}

