*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


#features .header {
    display: flex;
    padding: 34px 0;
    justify-content: space-between;
    align-items: center;
    max-width: 1057px;
    margin: 0 auto;
}

.list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-size: 18px;
    font: bold;
}

.header img {
    max-width: 139px;
    max-height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.header button {
    margin-bottom: 24px;
    margin-top: 24px;
    min-width: 164px;
    min-height: 44px;
    margin-left: 120px;
    background-color: #30B868;
    color: #ffffff;
    font: bold;
    border: none;
    border-radius: 4px;
    padding: 16px 12px;
    font-size: 16px;
}

.banner {
    background-image: url(../assets/hero-bg.png);
    text-align: center;
    background-size: cover;
    min-height: 100vh;
    

}

.btn-1 img {
    width: 10px;
}
.btn-1 {
    padding: 8px 12px;
    border: none;
    margin-top: 125px;
    border-radius: 50px;
    margin-bottom: 24px;
    cursor: pointer;
    color: #30B868;
}

.banner h2{
    font-size: 72px;
    color: white;
}

.banner .h2-1 {
    color: #30B868;
    margin-bottom: 16px;
}

.banner p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 32px;
}

.banner .btn-2 {
    display: inline-flex;
    background-color: #30B868;
    max-width: 251px;
    min-height: 52px;
    border: none;
    padding: 16px;
    gap: 10px;
    border-radius: 6px;
    align-items: center;
    color: white;
    margin-right: 20px;
}

.banner .btn-3 {
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 6px;
    margin-right: 48px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.banner .btn-img {
    max-width: 20px;
    min-height: 20px;
}


#structure {
    text-align: center;
    padding: 80px 5%;
    max-width: 1360px;
}

#structure h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

#structure .subtitle {
    font-size: 16px;
    color: #627382;
}

#structure .card-container {
    display: flex;
    max-width: 1360px;
    gap: 20px;
}

#structure .card {
    margin-top: 44px;
    margin-bottom: 120px;
    align-items: center;
    justify-items: center;
    padding: 24px;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
}

#structure .icon {
    background-color: #F95555;
    border-radius: 50%;
    padding: 8px;
    margin-top: 30px;
}

#structure .icon img {
    height: 20px;
    width: 20px;
}

#structure h3 {
    font: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

#structure p {
    color: #627382;
    font-size: 16px;
}

#solution {
    display: flex;
    margin-bottom: 120px;
}

#solution .solution-container {
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 120px;
}

#solution h5 {
    font-size: 16px;
    color: #30B868;
    margin-bottom: 16px;
}

#solution h2 {
    font-size: 44px;
    font: bold;
    margin-bottom: 16px;
}

#solution h6 {
    color: #627382;
    font-size: 16px;
    margin-bottom: 40px;
}

#solution p {
    font-size: 16px;
    font: bold;
    margin-bottom: 16px;
}

#solution .circle li {
    display: flex;
    gap: 10px;
}

#solution .circle img {
    height: 16px;
    width: 16px;
}

#clear {
    max-width: 1360px;
    min-height: 384px;
    margin: 120px;
    background-color: #F7F6F2;
    justify-items: center;
    text-align: center;
}

#clear h2 {
    padding-top: 80px;
    padding-bottom: 16px;
    font-size: 40px;
    font: bold;
}

#clear p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
}

#clear .clear-btn {
    display: inline-flex;
    background-color: #30B868;
    max-width: 251px;
    min-height: 52px;
    border: none;
    padding: 16px;
    gap: 10px;
    border-radius: 6px;
    align-items: center;
    color: white;
    margin-right: 20px;
    margin-bottom: 16px;
}

#clear .clear-btn :hover {
    background-color: #4e7d62;
}

#footer {
    max-width: 1600px;
    min-height: 348px;
    background: var(--Style, rgba(0, 25, 49, 1));
    color: white;
}

#footer nav {
    padding: 120px 120px 80px 150px;
    display: flex;
}

#footer .container-one {
    margin-right: 700px;
}

#footer .container-two p {
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 16px;
}

#footer .container-two .container-icon {
    justify-content: space-around;
}

#footer h6 {
    text-align: center;
    border-top: 2px solid #627382;
    padding-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
    color: #FAFAFA;
    font-size: 16px;
}



